
body {
margin: 0;
overflow: hidden;
}
#background-iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: none;
z-index:-1;
}

#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  flex: 0 0 80px;
  background-color: white;
}

#title {
  text-align: center;
  font-size: 27px;
  color: black;
  padding-top: 20px;
  font-weight: bold;
}

#container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.algo-container {
  flex: 0 0 25%;
  font-weight: bold;
}

.imageContainer {
  max-width: 90%;
  margin: 10px auto;
}

.imageContainer:hover {
  max-width: 97%;
  transition: max-width 0.2s;
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  border: 15px solid rgb(63, 63, 63);
}

a {
  text-decoration: none;
  color: #dcebff;
  font-size: 20px;
}

@media (max-width: 1100px) {
  .container {
      flex: 0 0 48%;
  }
}
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

p {
text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
}

.container {
color: #e5e5e5;
font-size: 2.26rem;
text-transform: uppercase;
height: 10vh;
display: flex;
align-items: center;
justify-content: center;
padding-left: 10%;
}

.animation {
height: 50px;
overflow: hidden;
margin-left: 1rem;
}

.animation > div > div {
padding: 0.25rem 0.75rem;
height: 2.81rem;
margin-bottom: 2.81rem;
display: inline-block;
}

.animation div:first-child {
animation: text-animation 10s infinite;
}

.first div {
background-color: #20a7d8;
}

.second div {
background-color: #CD921E;
}

.third div {
background-color: #c10528;
}

.fourth div {
background-color: #05c11e;
}

@keyframes text-animation {
0% {
margin-top: 0;
}
10% {
margin-top: 0;
}
20% {
margin-top: -5.62rem;
}
30% {
margin-top: -5.62rem;
}
40% {
margin-top: -11.24rem;
}
60% {
margin-top: -11.24rem;
}
70% {
margin-top: -5.62rem;
}
80% {
margin-top: -5.62rem;
}
90% {
margin-top: 0;
}
100% {
margin-top: 0;
}
}


h1{
color: #1e1d1d;
font-size: 50px;
font-weight: bold;
font-family: monospace;
padding-left:28%;
letter-spacing: 7px;
cursor: pointer


}
h1 span{
transition: .5s linear
}
h1:hover span:nth-child(1){
margin-right: 5px
}

h1:hover span:nth-child(2){
margin-left: 30px
}
h1:hover span{
color: rgb(253, 251, 251);
text-shadow: 0 0 10px #ebeaea,
     0 0 20px #ebeaea,  
     0 0 40px #ebeaea; 
}

